{%extends "_base.html"%}
{%block content%}
{{ macros.pagination_nav("admin/user",pagecnt,curpage) }}
<table class="table table-striped text-monospace">
    <thead>
        <tr>
            <th>ID</th>
            <th>用户名</th>
            <th>权限</th>
            <th>创建时间</th>
            <th>最近登录时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {%for user in users%}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{%if split_access(user)["view"]%}V{%else%}-{%endif%}{%if split_access(user)["submit"]%}S{%else%}-{%endif%}{%if split_access(user)["publish"]%}P{%else%}-{%endif%}{%if split_access(user)["admin"]%}A{%else%}-{%endif%}</td>
            <td>{{user.created_time.strftime("%Y/%m/%d %H:%M")}}</td>
            <td>{{user.latest_login_time.strftime("%Y/%m/%d %H:%M")}}</td>
            <td>
                <a href="/admin/user/edit/{{user.id}}/" class="btn btn-primary">编辑</a>
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>
{%endblock%}