pre{
    line-height: 125%;
}
td.linenos .normal{
    color: inherit;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
}
span.linenos{
    color: inherit;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
}
td.linenos .special{
    color: #CCCCCC;
    background-color: #606060;
    padding-left: 5px;
    padding-right: 5px;
}
span.linenos.special{
    color: #CCCCCC;
    background-color: #606060;
    padding-left: 5px;
    padding-right: 5px;
}
.codehilite .hll{
    background-color: #606060;
}
.codehilite{
    color: #CCCCCC;
    background: #606060;
}
.codehilite .n{
    color: #CCCCCC;
}
.codehilite .p{
    color: #CCCCCC;
}
.codehilite .o{
    color: #CCCCCC;
}
.codehilite .na{
    color: #CCCCCC;
}
.codehilite .nx{
    color: #CCCCCC;
}
.codehilite .ow{
    color: #CCCCCC;
}

.codehilite .cp{
    color: #D462BE;
}
.codehilite .k{
    color: #D462BE;
}
.codehilite .kr{
    color: #D462BE;
}
.codehilite .sr{
    color: #D462BE;
}

.codehilite .cpf{
    color: #D68D78;
}
.codehilite .s1{
    color: #D68D78;
}
.codehilite .s2{
    color: #D68D78;
}

.codehilite .nn{
    color: #00D8B2;
}
.codehilite .nc{
    color: #00D8B2;
}

.codehilite .kt{
    color: #528FD5;
}
.codehilite .kd{
    color: #528FD5;
}
.codehilite .kn{
    color: #528FD5;
}
.codehilite .ss{
    color: #528FD5;
}

.codehilite .nf{
    color: #D7E7AC;
}
.codehilite .nb{
    color: #D7E7AC;
}
.codehilite .fm{
    color: #D7E7AC;
}

.codehilite .mi{
    color: #AAD9A9;
}
.codehilite .mf{
    color: #AAD9A9;
}

.codehilite .s{
    color: #7FD3FE;
}
.codehilite .nv{
    color: #7FD3FE;
}

.codehilite .se{
    color: #D8C27F;
}

.codehilite .c1{
    color: #51AA58
}