<!DOCTYPE html>
<html lang="zh">
    <head>
        <title>PanuOJ</title>
        <meta charset="UTF-8"/>
        <meta name="description" content="PanuOJ"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/static/Bootstrap4.6.2/bootstrap.min.css"/>
        <script src="/static/Bootstrap4.6.2/jquery.slim.js"></script>
        <script src="/static/Bootstrap4.6.2/popper.js"></script>
        <script src="/static/Bootstrap4.6.2/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/Katex/katex.min.css">
        <script src="/static/Katex/katex.min.js"></script>
        <script src="/static/Katex/auto-render.min.js"></script>
    </head>
    <body>
        {% import '_macros.html' as macros %}
        {% include '_header.html' %}
        {% include '_firstview_modal.html' %}
        <div class="container" style="margin-top: 5rem; margin-bottom: 2.5rem;">
            {% include '_flash.html' %}
            {% block content %}{% endblock %}
        </div>
        {% include '_footer.html' %}
    </body>
</html>