{% extends '_base.html' %}
{% block content %}
<div class="toast" data-autohide="false" style="position: fixed; top: 6rem; left: 1rem;">
    <div class="toast-header">
        <strong class="mr-auto">题目传输</strong>
    </div>
    <div class="toast-body">
        <form>
            <input type="text" class="form-control mb-3" id="pid" placeholder="请输入题目ID">
            <button type="button" class="btn btn-primary" onclick="window.location.href='/problems/'+$('#pid').val() + '/'">跳转</button>
            <button type="button" class="btn btn-success" onclick="window.location.href='/problems/random/'">随机</button>
        </form>
    </div>
    <script>
        $(document).ready(function (){
            $('.toast').toast('show');
        });
    </script>
</div>
<ul class="list-group">
    <span>公告栏</span>
    {% for anno in announcements %}
    <li class="list-group-item">
        <a href="#" onclick="$('#anno-{{ anno.id }}').modal('show');">{{ anno.title }}</a>
        <span class="text-muted float-right">{{ anno.created_time.strftime('%Y/%m/%d %H:%M') }}</span>
    </li>
    <div class="modal fade" id="anno-{{ anno.id }}">
        <div class="modal-lg modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ anno.title }}</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <link rel="stylesheet" href="/static/default.css">
                    <link rel="stylesheet" href="/static/code.css">
                    {{ anno.content|render_markdown|safe }}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <li class="list-group-item">
        暂无公告
    </li>
    {% endfor %}
</ul>
<script>
    $(document).ready(function(){
        var i,ls=document.getElementsByClassName("modal-body");
        for(i=0;i<ls.length;++i)
        {
            renderMathInElement(ls[i],{
                delimiters: [
                    {left: "$$", right: "$$", display: true},
                    {left: "$", right: "$", display: false}
                ],
                throwOnError : false
            });
        }
    });
</script>
{%endblock%}