{% extends '_base.html' %}
{% block content %}
<div class="toast" data-autohide="false" style="position: fixed; top: 6rem; left: 1rem;">
    <div class="toast-header">
        <strong class="mr-auto">题目传输</strong>
    </div>
    <div class="toast-body">
        <form>
            <input type="text" class="form-control mb-3" id="pid" placeholder="请输入题目ID">
            <button type="button" class="btn btn-primary" onclick="window.location.href='/problems/'+$('#pid').val() + '/'">跳转</button>
            <button type="button" class="btn btn-success" onclick="window.location.href='/problems/random/'">随机</button>
        </form>
    </div>
    <script>
        $(document).ready(function (){
            $('.toast').toast('show');
        });
    </script>
</div>
<div class="row">
    <div class="col-md-8">
        <div id="fortunecarousel" class="carousel slide mb-3" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#fortunecarousel" data-slide-to="0" class="active"></li>
                <li data-target="#fortunecarousel" data-slide-to="1"></li>
                <li data-target="#fortunecarousel" data-slide-to="2"></li>
                <li data-target="#fortunecarousel" data-slide-to="3"></li>
                <li data-target="#fortunecarousel" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
            {% for fortune in fortunes %}
                <div class="carousel-item {{ 'active' if loop.first }}" style="height: 300px;background-color: #606060;">
                    <center><pre class="mt-3" style="color: #FFFFFF;">{{fortune}}</pre></center>
                </div>
            {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-target="#fortunecarousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#fortunecarousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <span>讨论区</span>
        <div class="row">
            {%for discussion in discussions%}
            <div class="col-sm-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <a href="/discuss/{{ discussion.id }}/">{{ discussion.title }}</a>
                        {%if discussion.top%}<span class="badge badge-primary">置顶</span>{%endif%}
                        <span class="text-muted float-right">{{ discussion.created_time.strftime("%Y/%m/%d") }}</span>
                    </div>
                    <div class="card-body">
                        <span class="text-muted">楼主: {{ macros.userlink_inline(discussion.uid,uquery) }}</span><br>
                        <span class="text-muted">题目：{{ macros.problemlink_inline(discussion.pid,proquery)}}</span><br>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    <div class="col-md-4">
        <span>公告栏</span>
        <ul class="list-group">
            {% for anno in announcements %}
            <li class="list-group-item">
                <a href="#" onclick="$('#anno-{{ anno.id }}').modal('show');">{{ anno.title }}</a>
                <span class="text-muted float-right">{{ anno.created_time.strftime('%Y/%m/%d %H:%M') }}</span>
            </li>
            <div class="modal fade" id="anno-{{ anno.id }}">
                <div class="modal-lg modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ anno.title }}</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <link rel="stylesheet" href="/static/default.css">
                            <link rel="stylesheet" href="/static/code.css">
                            {{ anno.content|render_markdown|safe }}
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <li class="list-group-item">
                暂无公告
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<script>
    $(document).ready(function(){
        var i,ls=document.getElementsByClassName("modal-body");
        for(i=0;i<ls.length;++i)
        {
            renderMathInElement(ls[i],{
                delimiters: [
                    {left: "$$", right: "$$", display: true},
                    {left: "$", right: "$", display: false}
                ],
                throwOnError : false
            });
        }
    });
</script>
{%endblock%}